@import url(./globals.css);

.slick-slider {
    .slick-prev {
        left: 25px,
    }

    .slick-next {
        right: 25px;
    }

    .slick-prev,
    .slick-next {
        z-index: 9;
        // font-size: 14px;
        color: #7c818b;
        background-color: #fff;
        border-radius: 60px;
        top: 50%;
        // transform: translateY(-50%);
        width: 44px;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 6px 0 rgba(29, 33, 40, .16);
        transition: .3s;
        height: 44px;
        opacity: 1;

        &:before {
            color: #000000;
        }

        &:hover {
            opacity: 1;
            color: #7c818b;
            background-color: #ffffff;
        }

    }

    .slick-dots {
        bottom: 10px;

        li {
            button {
                &:before {
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    border-radius: 50%;
                    background: #ec6a0a;
                    opacity: .2;
                    color: transparent;
                }

            }

            &.slick-active {
                button:before {
                    color: transparent;
                }
            }
        }

    }
}

.product-inner {
    .slick-slider .slick-prev {
        left: 0;
        width: 30px;
        height: 30px;
        background-color: transparent;
        box-shadow: 0 0 0 0 transparent;
    }

    .slick-slider .slick-next {
        right: 0;
        width: 30px;
        height: 30px;
        background-color: transparent;
        box-shadow: 0 0 0 0 transparent;
    }

    .slick-slider .slick-prev,
    .slick-slider .slick-next {
        opacity: 0;
    }

    &:hover {

        .slick-slider .slick-prev,
        .slick-slider .slick-next {
            opacity: 1;
        }
    }
}

.innerBtnloader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #ffffff 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, #ffffff);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13 {
    100% {
        transform: rotate(1turn);
    }
}

.login-box {
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
    // max-width: 1120px;
    z-index: 0;
}

.login-box:before {
    content: "";
    width: 50%;
    margin-left: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../public/images/login-registerbg.jpg) top left no-repeat;
    background-size: contain;
    z-index: -1;
}